
                    .card1 {
                        height: 700px;
                        /* 다른 스타일 속성들 */
                        border-color: gray;
                        background-color: #f2f2f2;
                        overflow: scroll;
                    }

                    .txt {
                        margin-top: 10px;
                        color: grey;
                        font-size: 13px;
                    }

                    .title {
                        font-size: 18px;
                    }

                    .card2 {
                        background-color: appworkspace;
                        margin: 30px;
                        height: 150px;
                    }

                    .boardinfo {
                        font-size: 13px;
                    }

                    .larger {
                        font-size: 30px;
                    }
                    
                    	.c_gn {
        color: #2e9901 !important;
        font-style:normal;
        font-weight: bold;
	}
